@import '../../../_variables';

.game.boards.module {
  position: fixed;
  left: 0;
  top: 0;
  width: $full;
  height: $full;
  padding: 0;

  .game.board.module {
    width: $full;
    margin: $space-jumbo auto;
    padding: 0;
    border-bottom-right-radius: $space-mini;
    border-bottom-left-radius: $space-mini;

    @media (min-width: $phone-width) {
      width: $three-quarters;
    }

    @media (min-width: $tablet-width) {
      width: $two-thirds;
    }

    @media (min-width: $laptop-width) {
      width: $half;
    }

    .grid {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: stretch;
      height: $fluid-three-quarters;
      margin: 0;
      padding: 0;
      border: $space-micro solid $highlight-color;

      .cell {
        cursor: pointer;
        flex: 0 0 20%;
        padding: $space-base;
        border: $space-atomic solid $highlight-color;
        box-shadow: 0 0 0 $space-quantum $highlight-color;

        &:hover {
          background-color: rgba($highlight-color, 0.5);
        }

        &.selected {
          background-color: rgba($primary-color, 0.5);
        }

        &.target {
          background-color: rgba($negative-color, 0.5);
        }

        &.missed {
          background-color: rgba($caution-color, 0.5);
        }

        &.destroyed {
          background-color: rgba($negative-color, 0.5);
        }
      }
    }

    .actions.module {
      padding: 0;
      border: 0;
      border-top: $space-large solid $highlight-color;
      border-left: $space-large solid transparent;
      border-right: $space-large solid transparent;
      background: transparent;
      width: $three-quarters;
      margin: auto;
      display: block;
      position: relative;

      @media (min-width: $tablet-width) {
        width: $half;
      }

      &:before {
        content: '';
        opacity: 0;
        position: absolute;
        bottom: 0;
        left: $half;
        transform: translate(-$half, 0);
        border-style: solid;
        border-width: $space-base $space-base $space-base;
        border-color: transparent transparent $highlight-color transparent;
        transition: all $faster;
      }

      &:hover {

        &:before {
          opacity: 1;
          bottom: $space-large;
        }
      }

      .fluid.centered.button {
        position: absolute;
        bottom: 0;
        border: 0;
        background-color: transparent;

        &:hover {
          color: $secondary-color;
        }
      }
    }
  }
}